:root {
	background:#141437;
	scrollbar-background:#4a4a6e;
	text:#bbbbdc;
	text-active:#d2d2e4;
}
.card1 {
	background-color: #262637;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 #1d1d1d33;
	padding: 20px;
	margin: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #6767ae;
    color: #c9c9df;
}
.peach {
	box-shadow: 0 4px 8px 0 #1a1a1a33;
	align-items: center;
	justify-content: center;
	color: #c0c6de;
	margin:20px;
	text-align: center;
	border-radius: 10px;
  padding: 10px 20px;
	background: #1e2438;
background: -webkit-linear-gradient(0deg, #1e2438 0%, #2d2656 100%);
background: linear-gradient(0deg, #1e2438 0%, #2d2656 100%);
	);
}
.container {
	display:flex;
	flex-direction:row;
	gap:1.5rem;
	padding:1rem;
	max-width:14rem;
	overflow-x:scroll;
	scroll-snap-type:x mandatory;
}

.cards .card:hover {
	transform:scale(1.1,1.1);
}
.cards:hover > .card:not(:hover) {
	filter:blur(10px);
	transform:scale(0.9,0.9);
}