body {
  background-color: #10101c;
}

h1 {
  color: #6767ae;
  font-family: verdana;
  font-size: 300%;
  border: 2px solid #6767ae;
  padding: 30px;
  margin: 50px;
}

p {
  color: #a8a8cc;
  font-family: courier;
  font-size: 160%;
  border: 3px solid #a8a8cc;
  padding: 30px;
  margin: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262637;
}

li {
  float: left;
}

li a {
  display: block;
  color: #d4d4e6;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #232a44;
}

